  <div class="footer">
    <h4>Contacto</h4>
    <p>Para conhecer e saber mais sobre esse incrível projeto que irá revolucionar o modo como lidamos com os incêndios,
      contacte-nos através de info@firespace.pt</p>
  </div>
  <script src="/main.js"></script>
  </body>

  </html>