<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Firespace</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
  <link rel="shortcut icon" href="sprites/FireSpaceWhite.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="header">
    <nav>
      <ul>
        <a id="Us" class="li-nav li-us left" href="/">Quem Somos</a>
        <a id="Mission" class="li-nav li-mission left" href="#Missao">Missão</a>
        <a id="logo" class="li-nav li-logo" href="#top"><img class="li-logo-dark" src="sprites/FireSpaceBlue.png"></a>
        <a id="Method" class="li-nav li-methods right" href="/equipa">Equipa</a>
        <a id="Objs" class="li-nav li-objective right" href="#Objtvs">Objetivos</a>
      </ul>
    </nav>
  </div>