<%- include("partials/header") -%>
<div class="equipa-container">
  <div class="container-elemento-equipa">
    <img src="/images/profile.svg" alt="profile picture">
    <div class="profile-center">
      <p class="profile profile-name">Tomás Barreira</p>
      <p class="profile profile-description">Estudante Engenharia Informatica - ULP</p>
    </div>  
    </div>
</div>
<%- include("partials/footer") -%>