<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Firespace</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
</head>
<body>
  <div class="header">
    <nav>
      <ul>
        <li class="li-mission">Missão</li>
        <li class="li-objective">Objetivos</li>
      </ul>
    </nav>
  </div>
  <div class="playerSection">
    <div class="player"></div>
  </div>
  <div class="section1">
    <h1>Missão TESTE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent. Dictum varius duis at consectetur lorem donec massa sapien faucibus. Eget nunc scelerisque viverra mauris. Eu turpis egestas pretium aenean. Maecenas pharetra convallis posuere morbi leo urna. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Nunc mattis enim ut tellus elementum sagittis vitae. Bibendum arcu vitae elementum curabitur vitae. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Egestas purus viverra accumsan in nisl nisi scelerisque eu. Sit amet volutpat consequat mauris nunc congue. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Sed velit dignissim sodales ut eu sem integer vitae justo. Eros in cursus turpis massa tincidunt. Et malesuada fames ac turpis egestas sed tempus urna. Odio tempor orci dapibus ultrices in. Fusce id velit ut tortor pretium viverra. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Eget magna fermentum iaculis eu non diam. Odio morbi quis commodo odio aenean. Pellentesque elit eget gravida cum sociis natoque penatibus et. Elit sed vulputate mi sit amet mauris commodo quis. Enim eu turpis egestas pretium aenean pharetra magna ac. Non enim praesent elementum facilisis leo vel. Gravida neque convallis a cras semper auctor neque. Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. Mattis vulputate enim nulla aliquet porttitor. Elit eget gravida cum sociis.</p>
  </div>
  <script src="/main.js"></script>
</body>
</html>
