<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Firespace</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
</head>
<body>
  <div class="header">
    <nav>
      <ul>
        <li class="li-nav li-mission">Missão</li>
        <li class="li-nav li-objective">Objetivos</li>
      </ul>
    </nav>
  </div>
  <div class="playerSection">
    <div class="player"></div>
  </div>
  <div class="section1">
    <h1>Como surgimos.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar sapien et ligula ullamcorper malesuada proin. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Massa id neque aliquam vestibulum morbi blandit. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Et sollicitudin ac orci phasellus egestas. Iaculis at erat pellentesque adipiscing commodo elit. Sit amet tellus cras adipiscing enim. Eget lorem dolor sed viverra ipsum nunc. Laoreet sit amet cursus sit amet dictum sit amet justo.</p>
    <h1>Missão</h1>
    <p>Ac feugiat sed lectus vestibulum mattis ullamcorper. Rutrum quisque non tellus orci ac auctor augue mauris augue. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Tristique et egestas quis ipsum. Sed adipiscing diam donec adipiscing. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Sit amet tellus cras adipiscing. Eu sem integer vitae justo eget magna.</p>
    <h1>Objetivos</h1>
    <p>Varius sit amet mattis vulputate enim nulla aliquet porttitor lacus. Ac feugiat sed lectus vestibulum mattis ullamcorper. Rutrum quisque non tellus orci ac auctor augue mauris augue.</p>
      <ul>
        <li>Maecenas pharetra convallis posuere morbi. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Velit laoreet id donec ultrices tincidunt.</li>
        <li>Purus ut faucibus pulvinar elementum integer enim.</li>
        <li>Adipiscing at in tellus integer feugiat scelerisque varius morbi enim.</li>
      </ul>
    <p>  
      Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Consequat ac felis donec et odio pellentesque diam volutpat commodo.
    </p>
  </div>
  <div class="footer">
    <p>Contacto</p>
  </div>
  <script src="/main.js"></script>
</body>
</html>