body {
  background-color: #34495d;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  background-color: #2c3d4f;
  height: 7rem;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
}

.header ul li {
  display: inline;
  list-style-type: none;
  color: #f59d2a;
}

.li-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 0 8rem 0 8rem;
  /* top right bottom left */
}

.li-nav:hover{
  cursor: pointer;
}
.li-nav:after {
  content: '';
  width: 0;
  height: 0.125rem;
  display: block;
  background: red;
  transition: 300ms;
  margin-top: 0.6rem;
}

.li-nav:hover:after {
  width: 100%;
  padding-right: 20px;
}

.li-objective {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
  
}

.li-mission {
  position: absolute;
  left: 0;
  bottom: 0;
  bottom: 0.6rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.playerSection {
  position: relative;
  top: 7rem;
  height: 35rem;
  padding: 7% 15% 0 15%;
}

.player {
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.section1 { 
  position: relative;
  padding: 7% 15%;
}

h1 {
  margin: 0;
  font-size: 5rem;
  color: #ee7738;
  font-family: 'Roboto', sans-serif;
  margin-top: 5rem;
}

p {
  padding: 0;
  margin: 0;
  color: #ddd;
  font-size: 1.2rem;
}

li{
  color: #ddd;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

.footer{
  position: relative;
  background-color: #2c3d4f;
  height: 7rem;
  text-align: center;
}