body {
  background-color: #34495d;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

.right{
    float: right;
}
.left{
    float: left;
}

.header {
  background-color: #2c3d4f;
  height: 6.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
}

.header ul a {
  display: inline;
  list-style-type: none;
  color: #f59d2a;
  text-decoration: none;
}
.header ul{
    padding: 0 2rem;
}

.li-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 2rem 3rem 0.6rem;
  /* top right bottom left */
}

.li-nav:hover{
  cursor: pointer;
}
.li-nav:not(.li-logo):after {
  content: '';
  width: 0;
  height: 0.125rem;
  display: block;
  background: #ee7738;
  transition: 300ms;
  margin-top: 0.6rem;
}

.li-nav:hover:after {
  width: 100%;
  padding-right: 20px;
}

.li-objective {
  -position: absolute;
  -right: 0;
  -bottom: 0.6rem;
}

.li-mission {
  -position: absolute;
  -left: 0;
  -bottom: 0.6rem;
}

.li-logo{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    margin: auto;
    width: 8rem;
    height: 8rem;
}
.li-logo img{
    width: 100%;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.playerSection {
  position: relative;
  /*top: 7rem;*/
  min-height: 35rem;
  padding: 2% 15% 0 15%;
  text-align: center;
}

.player {
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

.playerSection img{
    width: 100%
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.section1 {
  position: relative;
  padding: 7% 15%;
}

.txt-img{
    width: 12rem;
    margin: 0 0 0 3rem;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: #ee7738;
  font-family: 'Roboto', sans-serif;
  margin-top: 5rem;
}
h2 {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 2rem;
  color: #ddd;
  -font-family: 'Roboto Slab', sans-serif;
}

p {
  padding: 0;
  margin: 0;
  color: #ddd;
  font-size: 1.05rem;
  text-align: justify;
  text-indent: 2rem;
}

li{
  color: #ddd;
}

h4{
    padding-top: 1rem;
    color: #ddd;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

.footer{
  position: relative;
  background-color: #2c3d4f;
  height: 7rem;
  text-align: center;
}
